body {
    color: wheat;
    background: lawngreen;
}

#ritam {
    background-color: aqua;
}

#all {
    background-color: gray;
}

.chowmein {
    background-color: rgba(50, 205, 50, 0.719);
    color: wheat;
}