* {
    margin: 0px;
    padding: 5px;
}

.container {
    background-color: rgb(156, 5, 118);
    color: white;
}

body {
    background-image: url(/img/media_1fcf02c9210fce7738bab349cfacdb464d227e1c1.png);
    background-repeat: no-repeat;
    background-size: cover;
}