.content {
    height: 423px;
    width: 345px;
    background: wheat;
    color: white;
    margin: 14px 4px;
    padding: 2px;
    border: 8px ridge gold;
    display: inline-block;
    vertical-align: top;
}

.content2 {
    height: 423px;
    width: 345px;
    background: black;
    color: wheat;
    margin: 14px 4px;
    padding: 2px;
    border: 8px ridge gold;
    display: inline-block;
    vertical-align: top;
}

* {
    margin: 1px;
    padding: 1px;
    background: black;
}