<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Heading</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio illo assumenda voluptate unde possimus a
        architecto fugit ullam reprehenderit eveniet illum libero delectus, quas rem accusantium nostrum veniam deserunt
        cupiditate?
    </p>
    <footer>End</footer>
</body>

</html>