/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

header nav a {
    position: relative;
    left: 1rem;
    color: #f4f4f4 !important;
}

main {
    height: 2000px;
    padding: 2rem;
    text-align: center;
}

.navbar-toggler{
    background: #f4f4f4;
}

.navbar-toggler-icon{
    background: #f4f4f4;
}

.welcome-section,
.courses-section,
.course-detail-section,
.aboutus-section {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.200);
}

.aboutus-section {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.200);
}

.col {
    border: 2px solid black;
}

.col a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.3rem 0;
    position: fixed;
    width: 100%;
    height: 2rem;
    bottom: 0;
}