*{
    background-color: rgb(130, 216, 238);
    margin: 0;
    padding: 0;
}
.cardbox{
    margin: auto;
    padding: 10px;
    border: 5px groove rgb(6, 122, 175);
    border-radius: 15px;
    position: relative;
    top: 15vh;
    /* bottom: 50vh; */
    height:60vh;
    width: 65vw;
    background-color: #28a4dd;
}
.pic{

    display: inline-block;
    position: relative;
    top: 92px;
    height: 109px;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}
img{
    height: 30vh;
    width: 30vh;
    border-radius: 15px;
}
.name{
    display: inline-block;
    position: relative;
    bottom: 18vh;
    left: 12vw;
    background-color: #28a4dd;
}
.nameclr{
    background-color: #28a4dd;
}
.defclr{
    background-color: #28a4dd;
    position: relative;
    left: 13%;
}
.clr{
    background-color: #28a4dd;
}
.contents{
    background-color: #28a4dd;
}
ul{
    background-color: #28a4dd;
    display: inline-block;
}
li{
    list-style: none;
    background-color: #28a4dd;
    position: relative;
    bottom: 17vh;
    left: 20vw;
    padding: 20px;
    /* display: inline-block; */
}
i{
    background-color: #28a4dd;
}
a{
    color: #000;
    background-color: #28a4dd;
}
.links{
    display: inline-block;
    position: relative;
    bottom: 3vh;
    background-color: #28a4dd;
}
.fa-github{
    position: relative;
    left: 5vw;
}
.fa-linkedin{
    position: relative;
    left: 15vw;
}